body{margin:0}
html{color-scheme:light dark}
html,body{font-family:"Verdana",sans-serif;font-size:20px;line-height:1.5}
h1,h2{font-family:"Segoe UI",sans-serif;font-weight:normal;margin:10px 0;text-align:center}
h1{font-size:30px;letter-spacing:4px}
h2{font-size:24px;letter-spacing:2px}

a{text-decoration:none;color:inherit}
.link:hover{text-decoration-line:underline}
.paper_title{font-style:italic!important}

.top_bot{position:fixed;width:100%;z-index:1}
.top{top:0}
.bottom{bottom:0}
.shadow{box-shadow:0 0 5px 2px rgba(0,0,0,0.16), 0 0 10px 2px rgba(0,0,0,12.0)}
.padding_16{padding-top:1em!important;padding-bottom:1em!important}
.padding_24{padding-top:1.5em!important;padding-bottom:1.5em!important}
.padding_32{padding-top:2em!important;padding-bottom:2em!important}
.padding_64{padding-top:4em!important;padding-bottom:4em!important}
.padding_nav_bar{padding:12px 24px!important}
.text_center{text-align:center!important}
.text_left{text-align:left!important}
.font_15{font-size:15px!important}



.vertical{display:block}

.left{float:left!important}
.right{float:right!important}
.center{float:center!important}

@media (max-width:60em){.show_large.hide_small{display:none!important}}
@media (min-width:60.001em){.show_small.hide_large{display:none!important}}

/* menu items */

.vertical_item{display:block;text-align:center}
.menu_item_shown{display:block!important}
.menu_item_hidden{display:none!important}
.horizontal_item{display:inline-block}

/* horizontal,vertical depending on screen */
.layoutHorVerContainer{width:100%}


@media (max-width:74.999em){.contactContainer{width:0%;min-width: 12em!important;margin:auto;}}
@media (min-width:75em){.contactContainer{margin-left: max(calc(25% - 12em - 5em), 5%);min-width:12em;position:fixed}}
@media (max-width:74.999em){.mainContainer{margin:auto;width:95%}}
@media (min-width:75em){.mainContainer{margin:auto;width:50%}}


/* content */
.cv_year,.teaching_year{text-align:left;padding:0.5em 1em}
.cv_year{min-width: 4.8em}
.teaching_year{min-width: 5.7em}
.cv_text,.teaching_text{text-align:left;padding:0.5em 1em}
td{vertical-align:top}

.publications_item,.conference_item{padding:0.5em 1em;text-align:left}

.research_interest{padding:0.5em 1em;text-align:justify}

/* colors */
/*
    lachs:  #ff8c8c
    teal:   #008c8c
*/
:root {
    --color_accend: #008c8c;
    --color_other: #ff8c8c;
    --color_black: #000000;
    --color_grey: #aaaaaa;
    --color_white: #ffffff;
    --bg_page: #ffffff;
    --text_page: #000000;
}

body{background-color:var(--bg_page);color:var(--text_page)}

@media (prefers-color-scheme: dark) {
  :root {
    --bg_page: #121212;
    --text_page: #e8e8e8;
  }
  .icon_invert_darkMode { filter: invert(1); }        /* for github icon and others */
}

@media (hover: hover) {
  .button:hover{background-color:var(--color_other)!important;color:var(--color_white)!important}
}
.button{-webkit-tap-highlight-color:transparent;transition:transform 0.1s ease,background-color 0.1s ease,color 0.1s ease}
.button:active,.button.pressed{transform:scale(0.95);background-color:var(--color_other)!important;color:var(--color_white)!important}
.nav_color{color:var(--color_white)!important;background-color:var(--color_accend)!important}
.color_grey{color: var(--color_grey)!important;}
.link:hover{color: var(--color_accend)!important;}
